<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">sort by gender</a></li>
        <li><a href="">sort by professional life</a></li>
        <li><a href="">sort by location</a></li>
        <li><a href="">sort by sentimental life</a></li>
        <li><a href="">podium</a></li>
    </ul>
<title>{% block title %} {% endblock %}</title>
</head>
<body>

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<p>This is a paragraph.</p>
<div>
    {% block content %} {% endblock %}
</div>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>