{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netflix Titles</title>
    <link rel="stylesheet" href="static/css/globals.css">
    <link rel="stylesheet" href="static/css/pie_chart.css">
    <link rel="stylesheet" href="static/css/movie_serie.css">
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14486,14491,14483,14488,14493"
          rel="stylesheet">
</head>
<div class="navbar">
    <div class="navbar-inner">
        <img class="logo" src="static/img/logo.png">
        <a class="global" aria-label="Global" title="Global" href="/">
            Global
        </a>
        <a class="films" aria-label="Films" title="Films" href={"/films"}>
            Films
        </a>
        <a class="series" aria-label="Series" title="Series" href={"/series"}>
            Séries
        </a>
    </div>
</div>
<body>

<div class="top">
    <div class="left">
        <div class="type_data">
            <div class="txt">
                <p>Movie</p>
            </div>
            <div class="line_choice"></div>
            <div class="txt">
                <p>Series</p>
            </div>
        </div>
        <div class="element_list">
            <p>coucou</p>
            <p>coucou</p>
            <p>coucou</p>
            <p>coucou</p>
            <p>coucou</p>
        </div>
    </div>
    <div class="center">
        <div class="line"></div>
    </div>
    <div class="right">
        <div class="filter">

        </div>
    </div>
</div>
</body>
</html>
,