<!-- Dans test.html de votre dossier templates -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="director">
    <button type="submit">Search by Director</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="show_id">
    <button type="submit">Search by Show Id</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="type">
    <button type="submit">Search by type</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="title">
    <button type="submit">Search by Title</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="cast">
    <button type="submit">Search by Cast</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="country">
    <button type="submit">Search by Country</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="date_added">
    <button type="submit">Search by Date Added</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="release_year">
    <button type="submit">Search by Release Year</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="rating">
    <button type="submit">Search by Rating</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="duration">
    <button type="submit">Search by Duration</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="listed_in">
    <button type="submit">Search by Listed in</button>
</form>
<form method="post"> {% csrf_token %}
    <input type="hidden" name="filter" value="description">
    <button type="submit">Search by Description</button>
</form>

<div>
    {{ pie_chart_html|safe }}
</div>

<div>
    {{ heatmap_html|safe }}
</div>

<div>
    {{ duration_map|safe }}
</div>

<!--<h1>Données CSV</h1>-->
<!--<table>-->
<!--    <tr>-->
<!--        {% for header in headers %}-->
<!--        <th>{{ header }}</th>-->
<!--        {% endfor %}-->
<!--    </tr>-->
<!--    {% for row in data %}-->
<!--    <tr>-->
<!--        {% for header in headers %}-->
<!--        <td>{{ row|default_if_none:""|default:header }}</td>-->
<!--        {% endfor %}-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
</body>
</html>
